.con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.container {
    width: 320px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(10px);
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 0.875rem;
    color: #666;
    text-align: left;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem; 
}

.button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #87a6d5;
    color: #fff;
    font-size: 1rem; 
    cursor: pointer;
    text-decoration: none; 
    text-align: center;
    transition: background-color 0.3s; 
    margin-top: 15px;
}

.button:hover {
    background-color: #738cbd;
}

.back-to-login {
    margin-top: 15px;
    font-size: 0.875rem;
    color: #666;
}

.back-to-login a {
    color: #87a6d5;
    text-decoration: none;
}

.back-to-login a:hover {
    text-decoration: underline;
}

@media (max-width: 360px) {
    body {
      background-attachment: scroll;
    }
  }