.submit{
    width: 400px;
    margin: auto;
    text-align: center;
    transform: translate(0%,20%);
  }
  
  .submit>h1{
    font-size: 50px;
  text-align: center;
  color: rgb(220, 120, 220);
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10px;
  }
  .submit p{
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
  }
  
  .aquiz{
  text-decoration: none;
  border: none;
  background-color: #b0ffce;
  border-bottom: 5px solid #98e5b5;
  height: 40px;
  width: 111px;
  border-radius: 5px;
  font-family: 'Arial';
  color: #22d165;
  font-size: 15px;
  padding: 5px;
  padding-top: 10px;
  align-items: center;
  text-align: center;
  align-content: center;
  
  }
  .aquiz:hover{
  cursor: pointer;
  border: 0px;
  margin-top: 5px;
  box-shadow: 0 2px 10px #b0ffce;
  
  color: #22d165;
  }