body {
    background: #f4f4f4;
    background-image: url(../IMAGES/Background.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
}

header, footer {
    opacity: 0; 
    transform: translateY(-20px); 
    animation: fadeInSlide 0.6s forwards;
    background:#99a3da; 
}

section {
    opacity: 0; 
    transform: translateY(20px); 
    animation: slideIn 0.6s forwards; 
}


@keyframes fadeInSlide {
    to {
        opacity: 1; 
        transform: translateY(0); }
}

@keyframes slideIn {
    to {
        opacity: 1; 
        transform: translateY(0); }
}

section:nth-child(1) { animation-delay: 0.2s; }
section:nth-child(2) { animation-delay: 0.4s; }
section:nth-child(3) { animation-delay: 0.6s; }
section:nth-child(4) { animation-delay: 0.8s; }
section:nth-child(5) { animation-delay: 1.0s; }
section:nth-child(6) { animation-delay: 1.2s; }
section:nth-child(7) { animation-delay: 1.4s; }
section:nth-child(8) { animation-delay: 1.6s; }
section:nth-child(9) { animation-delay: 1.8s; }
section:nth-child(10) { animation-delay: 2.0s; }